.card {
  background:var(--varLight);
  padding: 30px 37.5px;
  //background: #191B1F;//d6d6d5;//DDAB80;//f1d29b;//#343435;
  //background:linear-gradient(to top, #008BCF 40%, #006692, #8a92a6, #ffe3a4 95%, #f5a67e); //#fd8046, #D36C50, #AA585B, #1b1919); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 40px;

  .card__title {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: var(--white);
    margin-bottom: 35px;
    margin-top: 0;
  }
  
}

@media (max-width: $xlBreakpoint)  {
  .card {
    padding: 30px;
    border-radius: 15px;

    .card__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: $lgBreakpoint)  {
  .card {
    padding: 20px;
    border-radius: 10px;

    .card__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }
}
