.input {
    .input-group {
        display: flex;
        
        input {
            background: var(--darkerBlack);
            border-top-left-radius: 7.5px;
            border-bottom-left-radius: 7.5px;
            color: var(--white);
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            padding-left: 14px;
            padding-top:3px;
            height: 45px;
            border: 0;
            width: 100%;
            outline: none;
        }

        .bankCoin{
            color:#757575;
            background:var(--darkerBlack);
            border-top-right-radius: 7.5px;
            border-bottom-right-radius: 7.5px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            padding-top:11px;
            padding-right:14px;

            select {
                color:#757575;
                background:var(--darkerBlack);
                border:none;
                cursor:pointer;
            }
        }
    }
    .input__subtext {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        margin-top: 14px;
        color: var(--white);
        &.error {
            color:red;
        }
    }
}

.input-other {
    .input-group {
        display: flex;
        input {
            background: var(--darkerBlack);
            border-top-left-radius: 7.5px;
            border-bottom-left-radius: 7.5px;
            color: var(--white);
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            padding-left: 14px;
            padding-top:3px;
            height: 45px;
            border: 0;
            width: 100%;
            outline: none;
        }

        .outCoin{
            color:#757575;
            background:var(--darkerBlack);
            border-top-right-radius: 7.5px;
            border-bottom-right-radius: 7.5px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            padding-top:12px;
            padding-right:14px;
        }
    }
    .input__subtext {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        margin-top: 14px;
        color: var(--white);
        &.error {
            color:red;
        }
    }
}

@media (max-width: $xlBreakpoint) {
    .input {
        .input-group {
            input {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                height: 50px;
                font-size: 22px;
                line-height: 22px;
            }
            .bankCoin {
                padding-top:13px;
            }
        }
        .input__subtext {
            font-size: 13px;
            line-height: 16px;
        }
    }
    .input-other {
        .input-group {
            input {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                height: 50px;
                font-size: 22px;
                line-height: 22px;
            }
            .outCoin {
                padding-top:15px;
            }
        }
        .input__subtext {
            font-size: 13px;
            line-height: 16px;
        }
    }
}

@media (max-width: $lgBreakpoint) {
    .input {
        .input-group {
            input {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                height: 30px;
                padding-left: 6px;
                font-size: 18px;
                line-height: 22px;
            }
        }
        .input__subtext {
            font-size: 11px;
            line-height: 8px;
        }
        
    }
    .input-other {
        .input-group {
            input {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                height: 30px;
                padding-left: 6px;
                font-size: 18px;
                line-height: 22px;
            }
        }
        .input__subtext {
            font-size: 8px;
            line-height: 8px;
        }
        
    }
}
@media (max-width: 767px) {
    .input {
        .input-group {
            .bankCoin {
                line-height:22px;
                font-size:16px;
                padding-top:5px;
            }
        }
    }
    .input-other {
        .input-group {
            .outCoin {
                line-height:2px;
                font-size:16px;
                margin-top:0px;
            }
        }
    }
}