@import '../../assets/styles/variables';

.stablecoin-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(355px, 620px));
  //grid-gap: 30px;
  justify-content:center;
}

/*@media (max-width: $xlBreakpoint) {
  .stablecoin-cards {
    grid-gap: 20px;
    grid-template-columns: repeat(1, minmax(355px, 650px));
  }
}*/

@media (max-width: $lgBreakpoint) {
  .stablecoin-cards {
    //grid-gap: 20px;
    grid-template-columns: repeat(1, minmax(50px, 400px));
    justify-content:center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}


.footer a {
  background-image: linear-gradient(to right, rgba(247, 6, 186, 0) 50%, #008BCF 50%);
  //background-image: linear-gradient(to right, rgba(71, 117, 79, 0) 50%, #008BCF 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #FFF;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
  }
  
/* Gradient animation */
.footer a:hover {
background-position: -99.99% 0;
}
/* Space between elements and footer */
.footer {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.top-section__paragraph {
  padding-top:2em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  text-overflow: clip;
  //border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.2s steps(50, end),
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
